<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="200"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}
            <div class="resources grid grid-2col">
              {{!-- "flex-group-center" is also defined in the _grid.scss file
              and it will add a small amount of padding, a border, and will
              center all of its child elements content and text. --}}
              <div class="resource flex-group-center">
                  <label for="data.physical.value" class="resource-label">Physical Health</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.physical.value" value="{{data.physical.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.physical.max" value="{{data.physical.max}}" data-dtype="Number"/>
                  </div>
              </div>
              <div class="resource flex-group-center">
                  <label for="data.mental.value" class="resource-label">Mental Health</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.mental.value" value="{{data.mental.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.mental.max" value="{{data.mental.max}}" data-dtype="Number"/>
                  </div>
              </div>
          </div>
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="abilities grid grid-3col">
            {{#each data.aptitudes as |aptitude key|}}
              <div class="abilities flexrow flex-group-center">
                <label for="data.aptitudes.{{key}}.value" class="resource-label rollable" data-roll="d100" data-label="a {{key}} check">{{key}}</label>
                <input type="text" name="data.aptitudes.{{key}}.value" value="{{aptitude.value}}" data-dtype="Number"/>
                  <span class="resource-label">{{numberFormat aptitude.mod decimals=0}}</span>
              </div>
            {{/each}}
          </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{!--<a class="item" data-tab="description">Description</a>--}}
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="body">Body & Mods</a>
        <a class="item" data-tab="features">Gear</a>
        <a class="item" data-tab="spells">Psi</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!--Skills Tab--}}
        <div class="tab" data-group="primary" data-tab="skills">
            <h2 class="topMargin">Insight Skills</h2>
        <div class="skills grid grid-2col">
            {{#each data.skillsIns as |skill key|}}
            <div class="flexrow flex-group-center">
                <label for="data.skillsIns.{{key}}.value" class="resource-label rollable" data-roll="d100" data-label="rolls a {{key}} check">{{key}}</label>
                <input class="input-small" type="text" name="data.skillsIns.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
                <span class="resource-label input-small">{{numberFormat skill.derived decimals=0}}</span>
                <label class="resource-label input-medium rollable" data-roll="d100" data-label="rolls a {{key}} {{specname}} check">SPEC</label>
                <input type="text" name="data.skillsIns.{{key}}.specname" value="{{specname}}"/>
            </div>
            {{/each}}
        </div>
            <h2>Moxie Skills</h2>
            <div class="skills grid grid-2col">
                {{#each data.skillsMox as |skill key|}}
                <div class="flexrow flex-group-center">
                    <label for="data.skillsMox.{{key}}.value" class="resource-label rollable" data-roll="d100" data-label="rolls a {{key}} check">{{key}}</label>
                    <input class="input-small" type="text" name="data.skillsMox.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
                    <span class="resource-label input-small">{{numberFormat skill.derived decimals=0}}</span>
                    <label class="resource-label input-medium rollable" data-roll="d100" data-label="rolls a {{key}} {{specname}} check">SPEC</label>
                    <input type="text" name="data.skillsMox.{{key}}.specname" value="{{specname}}"/>
                </div>
                {{/each}}
            </div>
            <h2>Vigor Skills</h2>
            <div class="skills grid grid-2col">
                {{#each data.skillsVig as |skill key|}}
                <div class="flexrow flex-group-center">
                    <label for="data.skillsVig.{{key}}.value" class="resource-label rollable" data-roll="d100" data-label="rolls a {{key}} check">{{key}}</label>
                    <input class="input-small" type="text" name="data.skillsVig.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
                    <span class="resource-label input-small">{{numberFormat skill.derived decimals=0}}</span>
                    <label class="resource-label input-medium rollable" data-roll="d100" data-label="rolls a {{key}} {{specname}} check">SPEC</label>
                    <input type="text" name="data.skillsVig.{{key}}.specname" value="{{specname}}"/>
                </div>
                {{/each}}
            </div>
            <h2 class="topMargin">Special Skills</h2>
            <div class="skills grid grid-2col">
                {{#each data.specSkill as |skill key|}}
                <div class="flexrow flex-group-center">
                    <label class="resource-label input-medium rollable" data-roll="d100" data-label="rolls a {{key}} check">roll</label>
                    <input type="text" name="data.specSkill.{{key}}.skillName" value="{{skillName}}"/>
                    <input class="input-small" type="text" name="data.specSkill.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
                    <select  class="selectrace"  name="data.race.value"  data-type="String">

                        {{#select actor.data.specSkill.{{key}}.aptitude}}

                        {{#each actor.data.data.specSkill.{{key}}.aptitude as |aptitude key|}}

                        <option  value="{{key}}">{{race.label}}</option> {{/each}} {{/select}}

                    </select>
                    <span class="resource-label input-small">{{numberFormat skill.derived decimals=0}}</span>
                </div>
                {{/each}}
            </div>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                  </div>
                </li>
            {{#each actor.gear as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Owned Features Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="feature"><i class="fas fa-plus"></i> Add item</a>
                  </div>
                </li>
            {{#each actor.features as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Owned Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls"></div>
                </li>
                {{#each actor.spells as |spells spellLevel|}}
                    <li class="item flexrow item-header">
                      <div class="item-name">Level {{spellLevel}} Spells</div>
                      <div class="item-controls">
                        <a class="item-control item-create" title="Create item" data-type="spell" data-spell-level="{{spellLevel}}"><i class="fas fa-plus"></i> Add LVL {{spellLevel}}</a>
                      </div>
                    </li>
                    {{#each spells as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <h4 class="item-name">{{item.name}}</h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                {{/each}}
            </ol>
        </div>

    </section>
</form>

